body {
  margin: auto;
  min-height: 100vh;
  background-color: #ffffff;
  overflow-x: hidden;
  font-family: Cambria;
  font-weight: bold;
}

/* Navbar */
.navbar {
  background-color: #FFC61E;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 20px;
}

.logo img {
  height: 50px;
  margin-right: 10px;
  margin-top: 10px;
}

.navbar-all-code-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

}

.navbar-all-code-links li {
  margin: 0;
  padding: 0;
}

.navbar-all-code-links a {
  font-size: 30px;
  color: #010066;
  font-family: Cambria;
  font-weight: bold;
  text-decoration: none;
  padding: 5px 10px;
  transition: ease-out 0.5s;
}

.navbar-all-code-links a:hover {
  background-color: #010066;
  color: #FFC61E;
  transition: ease-in 0.5s;
}

.separator {
  font-size: 25px;
  font-family: Cambria;
  font-weight: bold;
}

.search-bar {
  display: flex;
  align-items: center;
  position: relative;
}

.search-bar input {
  border: none;
  font-family: Cambria;
  font-weight: bold;
  padding: 8px;
  font-size: 20px;
  width: 400px;
  margin-right: 10px;
  border-radius: 5px;
  position: relative;
  z-index: 1;
}

.search-bar img {
  position: absolute;
  right: 15px;
  height: 30px;
  padding: 0 10px;
  background-color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  z-index: 2;
  /* stel de z-index van de img in op 2 */
}



/* index */

.item1 { grid-area: header; }
.item2 { grid-area: main; }
.item3 { grid-area: right; }
.item4 { grid-area: history; }
.item5 { grid-area: button; }
.item6 { grid-area: database; }
.item7 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header history history .'
    'main right right history history .'
    'button button . history history .'
    'database . . history history .'
    'footer footer footer footer footer footer';
}

.item2 {
  margin-top: 56px;
}

.config-code {
  margin-left: 10px;
}

#code {
  max-width: 1122px;
  min-width: 1122px;
  width: 1122px;
  margin-left: 10px;
  background-color: lightgray;
  border-style: solid;
  border-width: 3px;
  text-align: left;
  text-align: start;
  text-align: inherit;
  height: 200px;
}
.config {
  margin-left: 10px;
  border-bottom: 3px solid black;
  width: 1131px;
  display: inline-block;
}

.config-title {
  font-size: 25px;
  margin-left: 10px;
}

#title {
  max-width: 200px;
  max-height: 30px;
  margin-top: 25px;
  margin-left: 108px;
  background-color: lightgray;
  border-style: solid;
  border-width: 3px;
  text-align: left;
  text-align: start;
  text-align: inherit;
}

.config-created {
  font-size: 25px;
  margin-left: 10px;
}

#created {
  max-width: 200px;
  max-height: 30px;
  margin-top: 25px;
  margin-left: 40px;
  background-color: lightgray;
  border-style: solid;
  border-width: 3px;
  text-align: left;
  text-align: start;
  text-align: inherit;
}

.config-category {
  font-size: 25px;
  margin-left: 10px;
}

.configurations {
  display: flex;
  flex-direction: row;
}

.category {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

#checkboxes {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 20px;
  margin-left: 10px;
}

#desc {
  max-width: 632px;
  min-width: 632px;
  width: 632px;
  margin-right: 120px;
  background-color: lightgray;
  border-style: solid;
  border-width: 3px;
  text-align: left;
  text-align: start;
  text-align: inherit;
  height: 178px;
  max-height: 178px;
  min-height: 178px;
}

.item5 {
  margin-top: 20px;
  margin-left: 10px;
}

#submit-public {
  font-family: Cambria;
  font-weight: bold;
  font-size: 20px;
  color: #010066;
  border: 2px solid black;
  background-color: #FFC61E;
  border-radius: 0px;
  padding: 18px 22.6px;
  text-align: center;
  display: inline-block;
  box-shadow: inset 0 0 0 0 #010066;
  -webkit-transition: ease-out 0.6s;
  -moz-transition: ease-out 0.6s;
  transition: ease-out 0.6s;
}

#submit-public:hover {
  box-shadow: inset 400px 0 0 0 #010066;
  color: #FFC61E;
}

#submit-public:active {
background-color: #010066;
}

#submit-private {
  font-family: Cambria;
  font-weight: bold;
  font-size: 20px;
  color: #010066;
  border: 2px solid black;
  background-color: #FFC61E;
  border-radius: 0px;
  padding: 18px 20px;
  text-align: center;
  display: inline-block;
  box-shadow: inset 0 0 0 0 #010066;
  -webkit-transition: ease-out 0.6s;
  -moz-transition: ease-out 0.6s;
  transition: ease-out 0.6s;
}

#submit-private:hover {
  box-shadow: inset 400px 0 0 0 #010066;
  color: #FFC61E;
}

#submit-private:active {
background-color: #010066;
}

.checkbox-bottom {
  margin-bottom: 24px;
}

/* code.php */

#copy-btn {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 1px;
  cursor: pointer;
  margin-left: 800px;
}

.code-container {
  display: flex;
  flex-direction: row;
}

.left-container {
  display: flex;
  justify-content: left;
  flex-direction: column;
  width: 80%;
  margin: 5px;
}

.right-container {
  display: flex;
  justify-content: right;
  flex-direction: column;
  width: 15%;
  margin: 5px;
  margin-right: 1230px;
}

.right-container-content {
  background-color: lightgrey;
}

.flex-direction-row {
  display: flex;
  flex-direction: row;
}

.margin {
  margin: 5px;
}

.code-input {
  width: 200px;
  height: 30px;
  background-color: lightgrey;
}

.code-input::placeholder {
  color: black;
}

.code-button {
  width: 100px;
  height: 30px;
  background-color: lightgrey;
}

.line {
  border-bottom: 3px solid black;
  width: 225px;
  display: inline-block;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.header-box {
  display: flex;
  flex-direction: row;
}

.margin-righter {
  margin-right: 78px;
}

.margin-right {
  margin-right: 63px;
}

.flex-direction-row-height {
  display: flex;
  flex-direction: row;
  height: 50px;
}

/* Footer */
#train {
  display: block;
  width: 90%;
  margin: 0 auto;
  position: relative;
  left: 0;
  animation: move-train 30s infinite;
  animation-delay: 10s;
  /* add a delay of 5 seconds before starting the animation */
}

@keyframes move-train {
  0% {
    left: 0;
    /* startpositie */
  }

  25% {
    left: calc(150% - 0%);
    /* trein rijdt langzaam naar rechts */
  }

  50% {
    left: calc(-120% - 0%);
    /* trein rijdt naar links met een constante snelheid */
  }

  75% {
    left: calc(-120% - 50px);
    /* trein rijdt langzaam naar links */
  }

  85% {
    left: 0;
    /* trein staat stil */
  }

  90% {
    left: 0;
    /* trein staat stil */
  }

  95% {
    left: 0;
    /* trein staat stil */
  }

  100% {
    left: 0;
    /* trein staat stil */
  }
}

#train:hover {
  animation-play-state: paused;
}

footer {
  background-color: #252525;
  color: white;
}

.footer-text {
  margin-top: 1%;
  font-family: Cambria;
  font-weight: bold;
  margin-left: 0.6%;
}

#footer-copyright {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 20px;
  font-family: Cambria;
  font-weight: bold;
  display: flex;
  justify-content: center;
  background-color: #151515;
  text-decoration: none;
  color: white;
}

#footer-html {
  font-family: Cambria;
  font-weight: bold;
  padding-right: 0.2rem;
  padding-left: 0.2rem;
  transition: ease-out 0.5s;
  text-decoration: none;
  color: white;
}

#footer-codes {
  margin-left: 0.5%;
}

#footer-html:hover {
  background-color: #FFC61E;
  color: #010066;
  transition: ease-in 0.5s;
  padding-right: 1rem;
  padding-left: 1rem;
}