body {
  margin: auto;
  min-height: 100vh;
  background-color: #ffffff;
}

/* Navbar */
.navbar {
  background-color: #FFC61E;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 20px;
}

.logo img {
  height: 50px;
  margin-right: 10px;
  margin-top: 10px;
}

.navbar-all-code-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  
}

.navbar-all-code-links li {
  margin: 0;
  padding: 0;
}

.navbar-all-code-links a {
  font-size: 30px;
  color: #010066;
  font-family: Cambria;
  font-weight: bold;
  text-decoration: none;
  padding: 5px 10px;
  transition: ease-out 0.5s;
}

.navbar-all-code-links a:hover {
  background-color: #010066;
  color: #FFC61E;
  transition: ease-in 0.5s;
}
.search-bar {
  display: flex;
  align-items: center;
  position: relative;
}

.search-bar input {
  border: none;
  font-family: Cambria;
  font-weight: bold;
  padding: 8px;
  font-size: 20px;
  width: 400px;
  margin-right: 10px;
  border-radius: 5px;
}

.search-bar img {
  position: absolute;
  right: 15px;
  height: 30px;
  padding: 0 10px;
  background-color: #ddd;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
/* index */
.index-container { 
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; 
}
#pasting-code { 
  display: flex;
  flex-direction: column;
  color: white;
}
/* configuration */
#container-row { 
  display: flex;
  flex-direction: row;
}
#configuration { 
  display: flex;
  flex-direction: column;
  color: white;
  margin-right: 50px;
}
#config-row { 
  display: flex;
  flex-direction: row;
}
#config-title { 
  display: flex;
  flex-direction: column;
}
#config-input { 
  display: flex;
  flex-direction: column;
}

/* description */
#description { 
  color: white;
}
#description-input { 
  height: 100px;
  width: 100%;
}
/* Footer */
#train { 
  display: flex;
  width: 90%;
  justify-content: center;
  transition: ease 3s;
  padding-left: 5%;
}
#train:hover {
  transform: translateX(55px);
  transition: ease 3s;
}
footer { 
  background-color: #252525;
  color: white;
}
.footer-text {
  margin-top: 1%;
  font-family: Cambria;
  font-weight: bold;
  margin-left: 0.6%;
}
#footer-copyright { 
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 20px;
  font-family: Cambria;
  font-weight: bold;
  display: flex;
  justify-content: center;
  background-color: #151515;
  text-decoration: none;
  color: white;
}
#footer-html { 
  font-family: Cambria;
  font-weight: bold;
  padding-right: 0.2rem;
  padding-left: 0.2rem;
  transition: ease-out 0.5s;
  text-decoration: none;
  color: white;
}
#footer-codes {
  margin-left: 0.5%;
}

#footer-html:hover {
  background-color: #FFC61E;
  color: #010066;
  transition: ease-in 0.5s;
  padding-right: 1rem;
  padding-left: 1rem;
}