body {
  margin: auto;
  min-height: 100vh;
  background-color: #ffffff;
  overflow-x: hidden;
}

/* Navbar */
.navbar {
  background-color: #FFC61E;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 20px;
}

.logo img {
  height: 50px;
  margin-right: 10px;
  margin-top: 10px;
}

.navbar-all-code-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

}

.navbar-all-code-links li {
  margin: 0;
  padding: 0;
}

.navbar-all-code-links a {
  font-size: 30px;
  color: #010066;
  font-family: Cambria;
  font-weight: bold;
  text-decoration: none;
  padding: 5px 10px;
  transition: ease-out 0.5s;
}

.navbar-all-code-links a:hover {
  background-color: #010066;
  color: #FFC61E;
  transition: ease-in 0.5s;
}

.separator {
  font-size: 25px;
  font-family: Cambria;
  font-weight: bold;
}

.search-bar {
  display: flex;
  align-items: center;
  position: relative;
}

.search-bar input {
  border: none;
  font-family: Cambria;
  font-weight: bold;
  padding: 8px 10px;
  font-size: 20px;
  width: 400px;
  margin-right: 45px;
  border-radius: 5px;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
}

.search-bar img {
  position: absolute;
  right: 0;
  height: 30px;
  background-color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  z-index: 2;
}

/* index */
.index-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#pasting-code {
  display: flex;
  flex-direction: column;
  color: white;
}

/* configuration */
#container-row {
  display: flex;
  flex-direction: row;
}

#configuration {
  display: flex;
  flex-direction: column;
  color: white;
  margin-right: 50px;
}

#config-row {
  display: flex;
  flex-direction: row;
}

#config-title {
  display: flex;
  flex-direction: column;
}

#config-input {
  display: flex;
  flex-direction: column;
}

/* description */
#description {
  color: white;
}

#description-input {
  height: 100px;
  width: 100%;
}

/* Footer */
#train {
  display: block;
  width: 90%;
  margin: 0 auto;
  position: relative;
  left: 0;
  animation: move-train 30s infinite;
  animation-delay: 10s;
  /* add a delay of 5 seconds before starting the animation */
}

@keyframes move-train {
  0% {
    left: 0;
    /* startpositie */
  }

  25% {
    left: calc(150% - 0%);
    /* trein rijdt langzaam naar rechts */
  }

  50% {
    left: calc(-120% - 0%);
    /* trein rijdt naar links met een constante snelheid */
  }

  75% {
    left: calc(-120% - 50px);
    /* trein rijdt langzaam naar links */
  }

  85% {
    left: 0;
    /* trein staat stil */
  }

  90% {
    left: 0;
    /* trein staat stil */
  }

  95% {
    left: 0;
    /* trein staat stil */
  }

  100% {
    left: 0;
    /* trein staat stil */
  }
}

#train:hover {
  animation-play-state: paused;
}

footer {
  background-color: #252525;
  color: white;
}

.footer-text {
  margin-top: 1%;
  font-family: Cambria;
  font-weight: bold;
  margin-left: 0.6%;
}

#footer-copyright {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 20px;
  font-family: Cambria;
  font-weight: bold;
  display: flex;
  justify-content: center;
  background-color: #151515;
  text-decoration: none;
  color: white;
}

#footer-html {
  font-family: Cambria;
  font-weight: bold;
  padding-right: 0.2rem;
  padding-left: 0.2rem;
  transition: ease-out 0.5s;
  text-decoration: none;
  color: white;
}

#footer-codes {
  margin-left: 0.5%;
}

#footer-html:hover {
  background-color: #FFC61E;
  color: #010066;
  transition: ease-in 0.5s;
  padding-right: 1rem;
  padding-left: 1rem;
}

/* code.php */

#copy-btn {
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
}

.c-row {
  display: flex;
  flex-direction: row;
}

.left-container {
  display: flex;
  justify-content: left;
  flex-direction: column;
}

.right-container {
  display: flex;
  justify-content: right;
  flex-direction: column;
}